{{ partial "header" .}}

{{/*  <iframe src="{{.Site.BaseURL}}images/My CV.pdf" width="100%" height="650px"></iframe>  */}}

<object data="{{.Site.BaseURL}}images/My CV.pdf" type="application/pdf" width="100%" height="650px"> </object>
<p>translation in progress</p>
<object data="{{.Site.BaseURL}}images/My CV_eng.pdf" type="application/pdf" width="100%" height="650px"> </object>

{{ partial "footer" .}}