<head>
    <title>{{.Params.title}} - {{ $.Site.Title}}</title>
    <link rel='canonical' href='{{ .Permalink }}' />
    {{ partial "head/meta" .}}
    {{ partial "head/style" .}}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/schema.html" . }}


  
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  </head>
  