{{ $variables := resources.Get "sass/_variables.sass" }}
{{ $scaffold := resources.Get "sass/scaffold.sass" }}
{{ $custom := resources.Get "sass/custom.sass" }}
{{ $style := slice $variables $scaffold $custom | resources.Concat "sass/style.sass" | toCSS | minify | fingerprint }}
{{ $syntax := resources.Get "syntax.css" | minify }}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">



<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">
<link rel="stylesheet" href="{{ $syntax.Permalink }}" integrity="{{ $syntax.Data.Integrity }}" media="screen">
{{/*  {{ if .Site.Params.assets.customCSS }}  */}}

  {{/*  <link rel="stylesheet" type="text/css" href="{{ .Site.Params.assets.customCSS }}" media="screen">  */}}
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/style.css" />
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/vertical_timeline.css" />

{{/*  {{ end }}  */}}


<script async src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

