{{ partial "header" .}}

<h1>{{ .Title }}</h1>
<div class="tags">
  {{ partial "portfolio/tags" .}}
</div>

<img title="{{.Title}}" alt="{{.Title}}" src="/portfolio/{{ .Params.Thumbnail }}" />

{{ .Content }}

{{ if eq .Params.title "GEOSTATISTICS, SPATIAL INTERPOLATION" }}

<img src = "/portfolio/images/geostatistique/compLin.jpg">

<img src = "/portfolio/images/geostatistique/compSpline.jpg">

{{ end }}

{{ if eq .Params.title "Geomatic project in python" }}
<p>Original DTM</p>
<img src = "/portfolio/images/projet_geomatique_python/Fig MNT 2D.png">
<p>Ridge</p>
<img src = "/portfolio/images/projet_geomatique_python/crete_V2.png">
<p>Talweg</p>
<img src = "/portfolio/images/projet_geomatique_python/talweg_V2.png">
{{ end }}



{{ if .Params.testimonial }}
  <h3>Testimonial</h3>
  <div class="testimonial-list">
    {{ with .Params.testimonial }}
        {{ partial "portfolio/testimonial" . }}
    {{ end }}
  </div>
{{ end }}



{{ partial "footer" .}}
