body {
    background-color: #190b60;
}

header {
    border-style: ridge;
    border-width: 10px;
    background: #190b60;
    border-color: #ffffff;
}

html {
    background-color: #190b60;
}

.hamburger {
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 16px;
    display: block;
    z-index: 100;
}

footer .footer-wrapper {
    margin: auto;
}

#content .portfolio-list .portfolio-container .portfolio-details h2 span {
    background-image: linear-gradient(0deg, transparent 0%, #F6EB0F 0);
    padding: 0 .2em;
    color: black;
}


header .socials {
    padding: 10px;
    position: absolute;
    max-width: inherit;
    bottom: 0px;
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
}

footer p {
    text-align: center;
    margin: 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 70%;
    left: 30%;
    height: fit-content;
    background-color: #190b60;
    ;
    color: #fcfcfd;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;

    border-style: solid;
    border-width: 5px;
    border-color: #ffffff;
}



@media (max-width: 500px) {
    header .intro {

        background-image: url("/images/fondAccueil.jpg");
        background-size: cover;

    }

    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    header .socials {
        padding: 10px;
        display: block;
        position: fixed;
        max-width: inherit;
        bottom: 10px;
        display: flex;
        justify-content: center;
        justify-items: center;
        width: 100%;
    }

}

header .rounded-logo {
    width: 135px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 40px;
    display: block;
    box-shadow: 0 0 5px #112f41;
    margin: 0 auto;

    border-style: solid;
    border-radius: 10px;
    background: #4f53e68f;
}

header h2 {
    font-size: 100%;
    font-weight: 600;

    border-style: solid;
    border-radius: 10px;
    background: rgba(35, 48, 48, 0.596);
}

header p {
    font-size: 100%;
}

header h3,
header h4 {
    font-size: 90%;
    font-weight: 560;

    border-style: solid;
    border-radius: 10px;
    background: rgba(35, 48, 48, 0.596);
}

header .intro {
    padding: 0px 25px 30px;
    position: absolute;
    top: 19px;
    text-align: center;
}

header .menu {
    align-content: center;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    background: rgba(35, 48, 48, 0.596);
    padding-left: 10px;
}

dt {
    font-weight: bold;
}



#content,
.breadcrumb {
    max-width: 60em;
    border-style: solid;
    padding: 10px;
    border-radius: 10px;

    background-color: rgba(35, 48, 48, 0.596);
    color: white;

    margin-left: auto;
    margin-bottom: 10px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.content-wrapper {
    min-height: 1vh;
}



/*************************THREE JS ******************************/

#ellipsoide {
    background-color: #a05656;
    width: 500px;
    height: 500px;
    position: relative;
    margin: auto;

}

.sceneRenderer {
    background-color: #a05656;
    width: 500px;
    height: 500px;
    position: relative;
    margin: auto;

}


/**2D map **/

.accordion-item {
    overflow: scroll;
}

#planisphere {
    width: 50vw;
    height: 50vh;
}