{% extends 'ivog_app/base/comparaisonEllips.html' %}

{% load static %}

{% block geoid %}


    <div id= "param_goid" name = "param_ellips">
        <p style="font-weight: bold">Qu'est ce qu'un Géoïde?</p>
            <div id = presention_goid>
                <div style="width:100%; height:70%;object-fit:contain;", >
                <img style="width:100%; height:100%;" src="{% static 'ivog_app/img/schemaGeoid.png' %}" />
                </div>
                <p>
                1- Il s’agit de la figure de la Terre, avec des creux et bosses, mais qui ne correspond pas au relief marin et continental. Il reflète l'hétérogénéité des structures internes de la Terre.<br><br>
                2- Il s’agit aussi de la surface de référence des altitudes, le niveau zéro. Cette surface horizontale (sur laquelle le niveau à bulles s’aligne) coïncide avec le niveau moyen des mers au repos et qui se prolonge sous les continents. Elle est en tout point normale au champ de  pesanteur qui donne la direction de la verticale (donnée par le fil à plomb). La hauteur du géoïde est déterminée par rapport au modèle de surface ellipsoïdale !<br><br>3- Le géoïde permet de convertir les hauteurs ellipsoïdales fournies par vos récepteurs GNSS (smartphone, voiture, montre, etc.) en altitudes conventionnelles (carte topographique).
                </p>
                <p>
                Vous avez la possibilité d'afficher les Géoïdes globaux 2D et 3D calculés à partir du modèle EIGEN-6C4 développé jusqu’au degré 1000 (site ICGEM).<br>Pour un degré de 1000, cela veut dire que la reconstruction du modèle est sensible aux structures qui ont une étendue de 20 km.
                </p>
            </div>

            <form id = "formGeoid" action="" method="post">
                <button id="btnGeoid3d" class = "champsGeopot" type="button">GEOIDE 3D</button> 
                <button id="btnGeoid2d" class = "champsGeopot" type="button">GEOIDE 2D</button> 
            </form>
    </div>

    <div id='Goid'><div class = "ressource">Resource:Guillaume Lion</div> <img id="geoid3D" src = "{% static 'ivog_app/img/Geoide_Global_3D_eigen_1000.gif' %}"> </div>

<script>
document.getElementById("btnGeoid3d").addEventListener("click", function(){document.getElementById("geoid3D").src = "static/ivog_app/img/Geoide_Global_3D_eigen_1000.gif"}); 

document.getElementById("btnGeoid2d").addEventListener("click", function(){ document.getElementById("geoid3D").src = "static/ivog_app/img/Geoide_Global_2D_eigen_deg1000.jpg"});

</script>


{% endblock %}
