{% extends 'ivog_app/base/base_header_footer.html' %}

{% load static %}

{% block list_obervable_et_vignette %}

<div class="wrapper">
    <div class="calculSur">
        <span href="javascript:void(0)">Les surfaces de références</span>
    </div>

    <div id="mySidenav" class="sidenav">
        <div>
            <button href="#" id="btnEllipoid" class = "active2" name="Point" value="Point">Ellipsoïde de référence</button>
        </div>
        <div>
            <button href="#" id="btnComparaisonEllipoid" class = "{{ observable.class_state }}" name="Point" value="Point">Comparaison avec ellipsoïde de référence</button>
        </div>
        <div>
            <button href="#" id="btngeoid" class = "{{ observable.class_state }}" name="Point" value="Point">Géoïde</button>
        </div>
        <div>
            <button href="#" id="FAQ__Btn" onclick="openFaq()">En savoir plus</button>
        </div>
    </div>

    <div id="FAQ" class="faq">
        <span class="helper"></span>
        <div>
            <div id = "popupCloseButton" class="popupCloseButton"  onclick="closeFaq()">&times;</div> 
            <h1>Surfaces de références</h1>
            <div id="geoide">
        
          <h2><a href="https://www.bel-horizon.eu/la-cartographie/notions-de-cartographie/ellipsoide-et-geoide.html" target="_blank">Le Géoïde</a></h2>  
          <p id="faq_geoide">      
        Le géoïde est une représentation du globe terrestre qui est une surface sur laquelle tous
        les points sont soumis à la même force de gravitation. Il s’agit d’une surface équipotentielle de la
        pesanteur.
        Cette surface est très irrégulière car elle est déformée par une répartition inégale des masses dans et sur le
        globe terrestre.
        </p>


        <img class="faq_geoide_img" src="{% static 'ivog_app/img/faq_geoide_2.png' %}">


      </div>

      <div id="transition_fleche">
      <p id="transition">D'où la modélisation d'une surface de référence plus régulière</p>
      <img class="fleche_faq" src="{% static 'ivog_app/img/fleche_faq.png' %}">

      </div>

      <div id="ellipsoide">
        
        <h2><a href="https://www.bel-horizon.eu/la-cartographie/notions-de-cartographie/ellipsoide-et-geoide.html" target = "_blank">L'Ellipsoïde</a></h2>

        <p id="faq_ellipsoide">

        Un ellipsoïde de révolution est une sphère aplatie aux pôles. C’est un modèle mathématique régulier sur
        l’ensemble de la sphère pour exprimer des coordonnées géographiques afin d’effectuer des calculs sur une surface
        proche de celle de la terre.
        </p>
        <img class="faq_ellipsoide_img" src="{% static 'ivog_app/img/faq_ellipsoide.jpg' %}">
      </div>

    </div>
  </div>
</div>
    {% block main %}
    {% endblock %}
</div>

{{ clickChoice|json_script:"clickChoice" }}
<script src =  "{% static 'ivog_app/js/clickBtnSurfRefManager.js' %}"></script>

<script>

  function openNav() {
    document.getElementById("mySidenav").style.width = "236px";
    //document.getElementById("main").style.marginLeft = "236px";
  }

  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
  }

  function openFaq() {
    document.getElementById("FAQ").style.display = "block";
    console.log("popppppppppppppppppppppppppp");

  }

  function closeFaq() {
    document.getElementById("FAQ").style.display = "none";
  }
</script>


{% endblock %}

