{{ partial "header" .}}

{{/*  <iframe src="{{.Site.BaseURL}}images/My CV.pdf" width="100%" height="650px"></iframe>  */}}




<div class="accordion" id="accordionExample">

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        2D map 
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <h1>Modélisation mathématique de la terre</h1>
        <p> La forme tridimensionnlle la plus proche de la terre correspond à  un ellipsoïde. </p>
        <div id="ellipsoide" class="sceneRenderer"></div>
        <p> Toutefois, pour pouvoir désiner la terre ou une portion de la terre sur papier, une espace plan en 2 dimension seulement, il faut trouver un moyen de représenter cette ellipsoide sur papier. </p>
        <h3>Projection</h3>
        <p> C'est le passage à la représetation plane de la terre par un modèle mathématique de déformation (une fonction de transformation).</p>
        <p></p>
        <div id="planisphere" class="sceneRenderer"></div>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>





<script async src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"></script> 

<script type="importmap"> {"imports": {"jsm": "https://unpkg.com/three@0.152.2/examples/jsm/controls/OrbitControls.js" }}</script>

<script type="module" src="{{.Site.BaseURL}}js/ellipsoide.js"></script>


<script type="module" src="{{.Site.BaseURL}}/js/lib/three.js"></script>
<script type="module" src="{{.Site.BaseURL}}js/test.js"></script>
<script type="module" src="{{.Site.BaseURL}}js/planisphere.js"></script>


{{ partial "footer" .}}