{{ partial "header" .}}

<h1>Mon parcours depuis le bac (Translation in progress)</h1>
<div class="timeline">
  <ul>
    <li>
      <div class="contentParcours">
        <h3>Etudiant ingénieur à l'ENSG GEOMATIQUE MARNE LA VALLEE</h3>
        <i class="fas fa-map-marker"> Champs sur marne; ile de france</i>
        <p>Un parcous en école d'ingénieur en géomatique d'une durée de 3 ans. </p>

        <dt style="color: green;">3. Troisième année: spécialisation TSI</dt>
        <dd>
        <dt> Tronc commum </dt>
        <dd> - Management d'une équipe </dd>
        <dd> - Entrepreneuriat et innovation </dd>
        <dd> - Conduite du changement </dd>
        </dd>


        <dd>
        <dt> Méthode agile et méthode de développement </dt>
        <dd> - Implémentantion du framework scrum </dd>
        <dd> - GIT </dd>
        <dd> - CI/CD </dd>
        <dd> - Analyse static et dymanique de code</dd>
        <dd> - Les test unitaire et d'intégration (google test/jest/junit)</dd>
        </dd>

        <dd>
        <dt> Architecture des système d'information, Tech, informatique...</dt>
        <dd> - LUNIX , les lignes de commande et le language shell </dd>
        <dd> - Architecture des SI dont notament les architectures distribué(XASS, Docker et docker compose) </dd>
        <dd> - Application d'architecture des SI avec DOCKER et DOCKER SWARM</dd>
        <dd> - Design pattern </dd>
        <dd> - UML</dd>
        <dd> - La sécurité des SI</dd>
        <dd> - Cloud computing</dd>
        </dd>


        <dd>
        <dt>BIG data (en cours) et deeplearning</dt>
        <dd> NoSQL </dd>
        <dd> Deep learning with Pytorch => classification semantique et ségmentation</dd>
        </dd>

        <dd>
        <dt> Modélisation IHM et la 3D</dt>
        <dd> Passage de nuage de point à un objets 3D </dd>
        <dd> LE BIM et les formats standards</dd>
        <dd> OPENGL (sur C++) </dd>
        <dd> WebGl (threejs) </dd>
        </dd>

        <dd>
        <dt>WEB </dt>
        <dd> Web sémantique </dd>
        <dd> Javascript avancé (javascript => Vue js (front) et nodes js => expresss (back) )</dd>
        <dd> JEE | SPRING | SPRINGBOOT | HIBERNATE</dd>
        <dd> WebGl (three js) </dd>
        </dd>

        <dd>
        <dt>Systemes ambarqués </dt>
        <dd> Raspbery pi </dd>
        <dd> Arduino </dd>
        </dd>
        <dt style="color: green;">2. deuxième année</dt>

        <dd>
        <dt>SIG | analyse et modelisation</dt>
        <dd>- Programmation sous SIG (SIG Avancée): ajout de plugging sur arcgis, qgis</dd>
        <dd>- Analyse spatiale approche géométrique</dd>
        <dd>- Geostatistique: interpolation spatiale</dd>
        </dd>

        <dd>
        <dt>Traitement d'image</dt>
        <dd>- Point d'intéret et mis en coorespondace</dd>
        <dd>- Machine learning: SVM et selection d'attribut</dd>
        <dd>- Machine learning: SVM et autre</dd>
        <dd>- Traitement du signale</dd>

        </dd>

        <dd>
        <dt>Systeme d'information: SI</dt>
        <dd>- Le réseau</dd>
        <dd>- Modélisation de SI: modélisation UML et Design Pattern</dd>
        </dd>

        <dd>
        <dt>Géodesie</dt>
        <dd>- Filtre de Khalman</dd>
        <dd>- Les altitudes</dd>
        <dd>- Application: système de référence et pojection</dd>
        </dd>

        <dd>
        <dt>Procution photogramétrique</dt>
        <dd>- photogrammetrie</dd>
        <dd>- Creation d'orthophoto</dd>
        <dd>- MNT et MNS</dd>
        <dd>- Lidar</dd>
        <dd>- Imagerie satellitaire: Image raster et Image radar</dd>
        </dd>

        <dd>
        <dt>Base de données géographique et web mapping</dt>
        <dd>- POSTGRESSQL et POSTGIS</dd>
        <dd>- Geoserver (notion et WFS, WMS)</dd>
        <dd>- Web mapping avec utilisation de BD géorgraphique tel que geoserveur</dd>
        <dd>- Lidar</dd>
        <dd>- Imagerie satellitaire: Image raster et Image radar</dd>
        </dd>



        <dt style="color: green;">1. Première année</dt>

        <dd>
        <dt>Geomatique </dt>
        <dd>
        <dt> Capteur et acquisition</dt>
        <dd>- PHOTOGRAMETRIE: de la planification des vols à la generation des nuages de points</dd>
        <dd>- IMAGERIE DE TELEDECTION: images SATELLITE ET RADAR</dd>
        <dd>- AQUISITION DE POINTS LIDAR</dd>
        <dd>- NOTION SUR LES IMAGES SPATIALES</dd>
        </dd>

        <dd>
        <dt> Géodesie</dt>
        <dd>- SYSTEM DE REFERENCE ET TRANSFORMATION DE COORDONNEE</dd>
        <dd>- GEOMETRIE DEIIFERENTIELLE DES ALLPSOID ET PROJECTION</dd>
        <dd>- PROJECTION</dd>
        <dd>- REPRESENATION CONFORME</dd>
        <dd>- GNSS</dd>
        <dd>- TOPOMMETRIE</dd>


        </dd>

        <dd>
        <dt> Cartographie</dt>
        <dd>- Conception cartographique (gestion de projet: de la demande client à la finilisation de la
          carte)</dd>
        <dd>- Sémiologie graphique</dd>
        <dd>- Production cartographique: mise à disposition du client ou des plublic des produit carto</dd>
        <dd>- Généralisation cartographique </dd>
        </dd>



        <dd>
        <dt> Programmation | informatique | modélisation</dt>
        <dd>- Algorithme</dd>
        <dd>- Théorie des graphes</dd>
        <dd>- Les moindre Carrée </dd>
        <dd>- Analyse informatique: modélisation UML et l'OOP</dd>
        <dd>- Java et OOP</dd>
        <dd>- Python: notion general</dd>
        <dd>- Programmation scientifique sous python (implémetatnion de l'alorithme recuit simulé)</dd>
        <dd>- Machine learning appliqué à l'imagerie: apprentissage supervisée et non supervisée </dd>
        <dd>- Les moindre Carrée </dd>

        </dd>

        <dd>
        <dt> Gestion de projet</dt>
        <dd>- Méthode agile: framework scrum</dd>
        <dd>- GIT:Gitlab</dd>
        </dd>

        <dd>
        <dt> Initiation aux sciences humaine et communication</dt>
        <dd>- Initiattion au droit (savoir trouvée les infortmation utile sur legifrance...)</dd>
        <dd>- Géographie physique et humaine</dd>
        <dd>- Règle de Communication: réalisation de poster et video d'animation</dd>
        </dd>

        <dd>
        <dt> STAGE ouvrier de 3 moins à L'institue de l'infortmation géographique et forestière</dt>
        <dd> Application des ces défférente connaisance sur le terrain: teledection, topometrie,
          photogrammetrie...</dd>
        </dd>





      </div>
      <div class="time">
        <h4>De septembre 2020 à septembre 2023</h4>
      </div>
    </li>

    <li>
      <div class="content2">

        <h3>Prépa BCPST (biologie, chimie, physique et sciences de la Terre)</h3>
        <i class="fas fa-map-marker"> Ile de la Réunion (Tampon)</i>
        <p><strong>Lycée: </strong>:Roland Garos</p>
        <p><strong>Promo: </strong>2018</p>
        <p><strong>Concours: </strong>AGRO, G2E, ENS</p>
        <p><strong>Admission: </strong>agro, G2E</p>
        <p><strong>Choix finale: </strong>ENSG GEOMATIQUE EN TANT QUE FONCTIONNAIRE</p>
      </div>
      <div class="time">
        <h4>De Aout 2018 à Aout 2020</h4>
      </div>
    </li>

    <li>
      <div class="content2">
        <h3>Bac scientifique (S SVT) en juillet 2018</h3>
        <i class="fas fa-map-marker"> Ile de la Réunion (Saint Denis)</i>
        <p><strong>Lycée</strong>: Lycée Lislet Geoffroy</p>
        <p><strong>Spéctialité</strong>: science de la vien et de la terrre</p>
        <p><strong> Mention du bac:</strong> Bien </p>
      </div>
      <div class="time">
        <h4>Juillet 2018</h4>
      </div>
    </li>

    {{/* <div style="clear:both;"></div> */}}

  </ul>

</div>



{{ partial "footer" .}}