{% extends 'ivog_app/base/cataAlti.html' %}

{% load static %}

{% block data %}

{{ DataFromPoint|json_script:"DataFromPoint" }}
<script src =  "{% static 'ivog_app/js/select_point.js' %}"></script>

{{ DataFromList|json_script:"DataFromList" }}
{{ num_observable_name_champs|json_script:"num_observable_name_champs" }}
<script src =  "{% static 'ivog_app/js/select_list_point.js' %}"></script>

{{ DataFromEmprise|json_script:"DataFromEmprise" }}
{{ obsGMT|json_script:"obsGMT" }}
<script src =  "{% static 'ivog_app/js/select_emprise.js' %}"></script>

{% endblock %}
