{% extends 'ivog_app/base/base_header_footer.html' %}

{% load static %}

{% block contact %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
   integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
   crossorigin=""/>

<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
   integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
   crossorigin=""></script>

<div id="titre">
    <h1>Références et ressources utilisées</h1>
</div>

<div id="intro">
    <ul>
        <p></p>
        <li>
            J.-P. Dufour - Introduction à la géodésie, 2001
        </li>
        <p></p>

        <li>
            <a href="https://geodesie.ign.fr/" target="_blank" ><strong style = "color:rgba(128,204,42,255);"><q>Institut national de l’information géographique et forestière (IGN)</q></strong></a>.
        </li>
        <p></p>
        <li>
            Sites de données modèles géoide global et régional:
            <ul>
                <li><a href="http://icgem.gfz-potsdam.de/home" target="_blank" ><strong style = "color:rgba(128,204,42,255);"><q>International Centre for Global Earth Models (ICGEM)</q></strong></a>.</li>
                <p></p>
                <li><a href="https://www.isgeoid.polimi.it/Geoid/reg_list.html" target="_blank" ><strong style = "color:rgba(128,204,42,255);"><q>International Service for the Geoid (ISG)</q></strong></a>.</li>
            </ul>
        </li>
        <p></p>
        <li>
            API Modèle numérique d'élévation:
            <ul>
                <li><a href="https://ngdc.noaa.gov/mgg/global/global" target="_blank" ><strong style = "color:rgba(128,204,42,255);"><q>National Centers for
Environmental Information</q></strong></a>.
                </li>
                <p></p>
                <li><a href="https://geoservices.ign.fr/documentation/services/api-et-services-ogc/calcul-altimetrique-rest" target="_blank" ><strong style = "color:rgba(128,204,42,255);"><q>Géoservice IGN</q></strong></a>.
                </li>
            </ul>
        </li>
        <p></p>

        <li>Codes numériques de Guillaume Lion (IPGP), basé sur une version modifiée du programme fortran “Geopot” du National Geodetic Survey (NGS - Smith. 1998)
Réf : Lion, G., et al. (2017). Determination of a high spatial resolution geopotential model using atomic clock comparisons. Journal of Geodesy, 91(6), 597-611.
        </li>

    <ul>


</div>

<div id="map"><img style="width:100%;height:100%;border-radius:25px;" src="{% static 'ivog_app/img/chart_ivog.png' %}"/></div>

{% comment %} <script>
{% comment %} var map = L.map('map').setView([48.84098459186918,2.587385550141335 ], 13);

L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1IjoiYXhlbGxzYyIsImEiOiJja3V5MHJsOHMwemhsMnByZnJraHo3Y3NxIn0.-RSeYnibv28gdgJtmyLbMw'
}).addTo(map);

var marker = L.marker([48.84098459186918,2.587385550141335]).addTo(map);

marker.bindPopup("<b>ENSG-Géomatique</b>").openPopup(); </script>{% endcomment %}

{% endblock %}
