{% extends 'ivog_app/base/base_header_footer.html' %}

{% load static %}

{% block forum %}

<div id="titre">
    <h1 class="test">L'équipe de iVoG
    </h1>
</div>

<div id="description">

<div id="photos">
    <img class="img1" src="{% static 'ivog_app/img/profil.jpg' %}">
    <p class="l1">Gaëtan Tiazara</p>
    <p class="q1"><q>En tant que chef de projet,iVoG était très enrichissant d'un point de vue organisationnel, technique et relationnel.</q></p>
    <img class="img2" src="{% static 'ivog_app/img/profil.jpg' %}">
    <p class="l2">Jade Ternier</p>
    <p class="q2"><q>Ayant étudié la géomatique que depuis cette année, je n'ai jamais eu l'occasion de faire de la géodésie auparavant. J'ai donc pu apporter mon point de vue pour adapter au mieux la conception de l'interface. Ce projet m'a aussi permis d'en apprendre plus sur la géodésie !</q></p>
    <img class="img3" src="{% static 'ivog_app/img/profil.jpg' %}">
    <p class="l3">Axel Losco</p>
    <p class="q3"><q>???</q></p>
    <img class="img4" src="{% static 'ivog_app/img/profil.jpg' %}">
    <p class="l4">Tasnîme Louartani</p>
    <p class="q4"><q>En tant qu'élève en géomatique, expliquer la géodésie avec nos propres mots est moins simple que l'on croit. Ce fut une expérience très enrichissante car iVoG est la concrétisation de la prise en main d'un projet de A à Z.</q></p>
    <img class="img5" src="{% static 'ivog_app/img/profil.jpg' %}">
    <p class="l5">Guillaume Lion</p>
    <p class="q5">Chercheur à l'IPGP - Thématiques de recherche : modélisation du champ de pesanteur et du géopotentiel à haute résolution spatiale, géodésie chronométrique</p>
</div>

</div>

<div id="equipe_intro">
    <ul>
        <p class = "equipeDescription">Contexte<p>
        <li>
            <b>iVoG</b> a été développé par 4 étudiant.e.s en Géomatique de l'école d'ingénieur  <a href="https://www.ensg.eu/" target="_blank" ><strong style = "color:rgba(128,204,42,255);">ENSG-Géomatique</strong></a> dans le cadre d’un projet de développement informatique "Geodev2".  
        </li>
        <p class = "equipeDescription">Responsable du projet (commanditaire)<p>
        <li>
        Ce projet a été commandité par Guillaume Lion, chercheur à  <a href="https://www.ipgp.fr/fr" target="_blank" ><strong style = "color:rgba(128,204,42,255);">l'Institut de Physique du Globe de Paris</strong></a>.
            Il nous a fournit l’ensemble de ses codes numériques pour simuler les observables géodésiques. iVoG permet de faire l’interface avec sa chaîne de calculs : entrée et affichage des données.
        </li>

            <p class = "equipeDescription">Pourquoi avoir choisi ce projet ?<p>
        <li>
            En tant qu’étudiants en géomatique, notre compréhension de la discipline à travers notre cursus à l’école d’ingénieurs est un plus pour aider à rendre la géodésie accessible au grand public. Il est donc plus facile pour nous d'expliquer la géodésie telle que nous l’avons comprise (sans formules mathématiques !) en proposant une interface conviviale qui donne envie d’apprendre et comprendre ! 
            La conception du site a été un challenge car nous avons dû faire en sorte de créer une interface simple qui permet à des personnes non expérimentées de pouvoir la prendre en main rapidement, sans l’aide d’un expert, et jouer avec les différentes options proposées. 
        </li>

    <ul>
</div>
{% endblock %}

