{% extends 'ivog_app/base/base_header_footer.html' %}

{% load static %}

{% block accueil %}

<div id="slide_background"></div>

<div id="logo_ivog">
    <img class="img_logo" src="{% static 'ivog_app/img/ivog3.png' %}">
</div>

<div id="logo_ensg">
    <a href="https://www.ensg.eu/" target="_blank">
    <img class="img_logo" src="{% static 'ivog_app/img/Logo_ENSG.svg' %}">
    </a>
</div>

<div id="logo_ipgp">
<a href="https://www.ipgp.fr/" title="site de l'ipgp" target="_blank">
    <img class="img_logo" src="{% static 'ivog_app/img/logo_ip.svg' %}">
</a>
</div>

<div id="logo_ign">
    <a href="https://www.ign.fr/" target="_blank">
    <img class="img_logo" src="{% static 'ivog_app/img/IGN_logo.svg' %}">
    </a>
</div>

<div id="logo_UPC">
    <a href="https://www.univ-gustave-eiffel.fr/" target="_blank">
    <img class="img_logo" src="{% static 'ivog_app/img/logo_upc.png' %}">
    </a>
</div>

<div id="name_app">
    <h1>Interface de Visualisation d’Observables Géodésiques</h1>
</div>

<div class="slider-container">
    <div class="slider">
      <div class="slides">
        <div id="slides__1" class="slide">
            <div id="accessAutreElementAccueil" >
                <a class ="AutreElementAccueil"  href="#slides__2" >Objectifs de l'interface</a>
                <a class ="AutreElementAccueil"  href="#slides__3" >La géodésie, c’est quoi?</a>
                <a class ="AutreElementAccueil" href="#slides__4">Prise en main d'iVoG</a>
            </div>

            <div class="bienvenue" > <span  class = "titre2_accueil">Bienvenue sur iVoG</span>
                <br><br><strong style = "color:rgba(128,204,42,255);">iVoG</strong> est une interface graphique qui vise à <strong style = "color:rgba(128,204,42,255);">rendre pédagogique le domaine de la géodésie</strong> que nous utilisons au quotidien sans nous en rendre compte.<br><br>
                Grâce à des modèles géodésiques obtenus à partir de mesures du champ de pesanteur et de position verticale, sur le terrain ou depuis l’espace, <strong style = "color:rgba(128,204,42,255);">iVoG permet de reconstruire et simuler différents observables géodésiques.</strong>
            </div>
            <div class="image_containerAccueil">
                <div class="listImage">
                    {% for observable in obs %}
                    <div class="item">
                        <img class="vignette" src="{% static observable.imgObs %}" alt="test">
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="image_containerAccueil2">
                <div class="listImage">
                    {% for observable in obs %}
                    <div class="item">
                        <img class="vignette" src="{% static observable.imgObs %}" alt="test">
                    </div>
                    {% endfor %}
                </div>
            </div>

          <a class="slide__prev" href="#slides__4" title="Next"></a>
          <a class="slide__next" href="#slides__2" title="Next"></a>
        </div>

        <div id="slides__2" class="slide">
            <div id="accessAutreElementAccueil" >
                <a class ="AutreElementAccueil"  href="#slides__1" >Accueil iVoG</a>
                <a class ="AutreElementAccueil" href="#slides__3">La géodésie, c'est quoi ?</a>
                <a class ="AutreElementAccueil" href="#slides__4">Prise en main d'iVoG</a>
            </div>

            <div class="bienvenue" > <span  class = "titre2_accueil">Objectifs de l'interface</span>
                <br><br>L'idée est de <strong style = "color:rgba(128,204,42,255);">faciliter la compréhension de la géodésie au grand public et aux enseignants</strong> en proposant un outil simple à utiliser et pédagogique.  En effet, on utilise au quotidien les produits de la géodésie sans le savoir, mais lorsqu’on commence à s’y intéresser, on se rend vite compte de la complexité de ce domaine et des différentes notions à maîtriser. <br><br>Ainsi, iVoG peut être vu comme le chaînon manquant entre la complexité des outils et produits scientifiques, et la transmission de la connaissance à chacun.
            </div>
            <div class="image_containerAccueil">
                <div class="listImage">
                    {% for observable in obs %}
                    <div class="item">
                        <img class="vignette" src="{% static observable.imgObs %}" alt="test">
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="image_containerAccueil2">
                <div class="listImage">
                    {% for observable in obs %}
                    <div class="item">
                        <img class="vignette" src="{% static observable.imgObs %}" alt="test">
                    </div>
                    {% endfor %}
                </div>
            </div>

            <a class="slide__prev" href="#slides__1" title="Next"></a>
            <a class="slide__next" href="#slides__3" title="Next"></a>
        </div>
        
        <div id="slides__3" class="slide">

            <div id="accessAutreElementAccueil" >
                <a class ="AutreElementAccueil"  href="#slides__1" >Accueil iVoG</a>
                <a class ="AutreElementAccueil"  href="#slides__2" >Objectifs de l'interface</a>
                <a class ="AutreElementAccueil" href="#slides__4">Prise en main d'iVOG</a>
            </div>

          <h1 id="titre_def_geodesie">La géodésie, c’est quoi ?</h1>
            <div id="description_app">
                <p id="txt_part_1">
                    <q>La géodésie est la science qui étudie les dimensions 
                    et la forme de la Terre, ainsi que son champ de pesanteur. <br>
                    Son objectif principal est d’élaborer des systèmes de référence 
                    terrestres auxquels tout utilisateur ou créateur de données 
                    géoréférencées peut accéder par l’intermédiaire de réseaux.
                    <br>L’adoption et la réalisation de tels systèmes de référence 
                    constituent un indispensable outil de normalisation pour 
                    l’information géographique et pour le positionnement en général.</q><br> <b>(Définition de la géodésie, <a  class="link" href="https://geodesie.ign.fr/" target="_blank" > IGN  </a>)</b> <br>
                </p>
                <p id="txt_part_2">
                    La géodésie permet de définir, à l'aide d'outils mathématiques, la forme de la Terre et est liée aux sciences géographiques 
                    (hydrographie, sismologie...). 
                    Ainsi, elle est très utile mais très peu comprennent son fonctionnement.
                    <br>
                    C'est pourquoi l'objectif de ce site est de vulgariser la géodésie afin de la rendre accessible à tous.
                    <br>
                    <!-- <div id="img_slide2">
                        <img class="img_ellips_slide2" src="{% static 'ivog_app/img/geodesie_accueil.png' %}">
                    </div> -->
                </p>
            </div>
          <a class="slide__prev" href="#slides__2" title="Prev"></a>
          <a class="slide__next" href="#slides__4" title="Next"></a>
        </div>
       
        <div id="slides__4" class="slide">
                <div id="accessAutreElementAccueil" >
                <a class ="AutreElementAccueil"  href="#slides__1" >Accueil iVOG</a>
                <a class ="AutreElementAccueil"  href="#slides__2" >Objctifs de l'interface</a>
                <a class ="AutreElementAccueil" href="#slides__4">Prise en main d'iVOG</a>

            </div>
            <div id="description_onglets">
                <div id="onglet" class="bienvenue">
                    <div  class = "titre2_accueil" style="text-align:center;">Les onglets</div>
                    <ul>
                        <li style="margin-left:3%; margin-right:3%;">
                            L'onglet <span style="font-weight: bold; color:rgba(128,204,42,255);">Surfaces de référence : ellipsoïde et géoïde 3D</span> 
                            permet de visualiser les surfaces de références “mathématiques” et “physiques” pour se positionner verticalement dans l’espace, et observer le comportement du champ de pesanteur.
                        </li>
                        <li style="margin-left:3%;margin-right:3%;">
                            L'onglet <span style="font-weight: bold; color:rgba(128,204,42,255);">Champ de pesanteur</span>permet de simuler différents observables géodésiques liés au champ de pesanteur sur la surface topographique de la Terre .
                        </li>
                        <li style="margin-left:3%;margin-right:3%;">
                            L'onglet <span style="font-weight: bold; color:rgba(128,204,42,255);">Altitudes</span>permet de calculer une altitude selon la  surface de référence choisie ou sa définition sur la surface topographique de la Terre.
                        </li>
                    </ul>
                    <p style="margin: 1% 2% 0% 7%;"> Dans les onglets <span style="font-weight: bold; color:rgba(128,204,42,255);">Surfaces de référence : ellipsoïde et géoïde 3D</span> et <span style="font-weight: bold; color:rgba(128,204,42,255);">Altitudes
                    </span>, il est possible d'obtenir des mesures pour un <span style="font-weight: bold; color:rgba(128,204,42,255);">point</span> donné, pour une <span style="font-weight: bold; color:rgba(128,204,42,255);">liste de points</span> obtenue à partir d'un fichier ou encore sur une <span style="font-weight: bold; color:rgba(128,204,42,255);">emprise</span> .</p>
                </div>
            </div>
          <a class="slide__prev" href="#slides__3" title="Prev"></a>
          <a class="slide__next" href="#slides__1" title="Prev"></a>
        </div>
        <div class="slider__nav">
            <a class="slider__navlink" href="#slides__1"></a>
            <a class="slider__navlink" href="#slides__2"></a>
            <a class="slider__navlink" href="#slides__3"></a>
            <a class="slider__navlink" href="#slides__4"></a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

